body {
    /*height: 100%;
    width: 100%;
    margin: 0;*/
    /*background-image: url('../../img/accounting-black-budget-53621.jpg');
    opacity: 0.6;*/
    /*height: 100%;
    width: 100%;*/
    /*background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
}
.bg {
    /*background-image: url('../../img/accounting-black-budget-53621.jpg');
    opacity: 0.6;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
}
/*.imagelogo{
    height:200px;
    width:200px;
}*/
