
@{
    ViewBag.Title = "SalaryResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using NükEM.Repository

@model List<Months>

<div class="container" >
    <div class="row">
        <div class="sparkline10-list shadow-reset mg-t-30" style="width:40%; margin-left:30%; margin-top:130px">
            <div class="sparkline10-hd">
                <div class="main-sparkline10-hd">
                    <h1>Maaş Bilgisi Sonuç Sayfası</h1>
                    <div class="sparkline10-outline-icon">
                        <span class="sparkline10-collapse-link"><i class="fa fa-chevron-up"></i></span>
                        <span><i class="fa fa-wrench"></i></span>
                        <span class="sparkline10-collapse-close"><i class="fa fa-times"></i></span>
                    </div>
                </div>
            </div>
            <div class="sparkline10-graph">
                <div class="static-table-list">
                    <form action="/Salary/SalaryTable" method="post">
                        <div>
                            <input type="hidden" name="rawSalary" value="@ViewBag.rawSalary" />
                            @{
                                string str = @ViewBag.hiddenBag;
                        <input type="hidden" name="hiddenBag" value=@str />
                            }
                        </div>
                        <table class="table border-table">
                            <thead>
                                <tr>
                                    <th>Aylar</th>
                                    @if (ViewBag.hiddenBag == "Brüt")
                                    {
                                        <th>Net Maaş</th>
                                    }
                                    else
                                    {
                                        <th>Brüt Maaş</th>
                                    }
                                    <th>Detay</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                        int indexOfItem = 1;
                                        foreach (var item in ViewBag.resultList)
                                        {
                                            Months nameOfMonth = (Months)indexOfItem;
                                        <tr>
                                            <td>@nameOfMonth</td>
                                            <td>@item</td>
                                            <td>
                                                <button type="button" class="btn btn-primary">
                                                    <span class="adminpro-icon adminpro-informatio"></span>
                                                </button>
                                            </td>
                                        </tr>
                                        indexOfItem++;
                                    }
                                }
                            </tbody>
                        </table>
                        <div class="form-group-inner">
                            <div class="login-btn-inner">
                                <div class="row">
                                    <div class="col-lg-9">
                                        <div class="login-horizental cancel-wp pull-left">
                                            <button class="btn btn-custon-rounded-two btn-success" type="submit">Tablo Görünümü</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

